@model Sayarah.Web.Models.Account.ForgotPasswordViewModel

@section Scripts{
    <script src="~/Views/Account/ResetPassword.js"></script>
}

<!--begin::Reset Password-->
<div class="login-form">
    <!--begin::Form-->
    <form class="form" id="ForgotPasswordForm" asp-action="ForgotPassword" method="POST">
        <!--begin::Title-->
        <div class="pb-5 pb-lg-15">
            <h3 class="font-weight-bolder text-dark font-size-h2 font-size-h1-lg">@L("Pages.ResetPassword.ResetPassword")</h3>
            <p class="text-muted font-weight-bold font-size-h4">@L("Pages.Login.ForgotPassword.Description")</p>
        </div>
        <!--end::Title-->
        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger text-center">@ViewBag.Error</div>
        }
        <!--begin::Form group-->
        <div class="form-group">
            <input type="email" class="form-control h-auto py-5 px-5 rounded-lg font-size-h6" name="Email Address" id="EmailAddress" placeholder="@L("Pages.Users.EmailAddress")">
        </div>
        <!--end::Form group-->
        <!--begin::Form group-->
        <div class="form-group">
            <input type="password" class="form-control h-auto py-5 px-5 rounded-lg font-size-h6" id="Password" name="Password" placeholder="@L("Pages.Users.Password")">
        </div>
        <!--end::Form group-->
        <!--begin::Form group-->
        <div class="form-group">
            <input type="password" class="form-control h-auto py-5 px-5 rounded-lg font-size-h6" id="Password" name="ConfirmPassword" placeholder="@L("Pages.Users.ConfirmPassword")">
        </div>
        <!--end::Form group-->
        <!--begin::Form group-->
        <div class="form-group d-flex flex-wrap">
            <button type="submit" id="LoginButton" class="btn btn-theme font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4">@L("Common.Send")</button>
            <a href="@Url.Action("Login", "Account")" class="btn btn-secondary font-weight-bolder font-size-h6 px-8 py-4 my-3">@L("Common.Back")</a>
        </div>
        <!--end::Form group-->
        <input type="hidden"><div></div>
    </form>
    <!--end::Form-->
</div>
<!--end::Reset Password-->